#app {
  display: flex;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  background: #f5f5f5;
}

.sidebar {
  width: 250px;
  background-color: #001858;
  color: white;
  padding: 20px;
  height: 100vh;
  box-sizing: border-box;
}

.sidebar h2 {
  font-size: 22px;
  margin-bottom: 20px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  margin: 10px 0;
}

.sidebar a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

.sidebar a:hover {
  text-decoration: underline;
}

.main-content {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
}
